
<mat-card class="notifications-table-card">
    <mat-card-title>User Notifications </mat-card-title>




    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Identifier</mat-label>
        <input matInput placeholder="Ex. 11931512" #identifierField />
    </mat-form-field>


    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Key</mat-label>
        <input matInput placeholder="Ex. your secret key" #keyField />
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="fetch(identifierField.value, keyField.value)"
        class="full-width">Load</button>
    <br />

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 demo-table full-width">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.notification.id}}</td>
        </ng-container>

        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef>Message</th>
            <td mat-cell *matCellDef="let element">{{element.notification.message}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.notification.date}}</td>
        </ng-container>
        <ng-container matColumnDef="read">
            <th mat-header-cell *matHeaderCellDef>Read</th>
            <td mat-cell *matCellDef="let element"> {{element.delivered ? '✔️' : '✨'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsNotification"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsNotification;"></tr>
    </table>
</mat-card>